<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/set.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="stylesheet" href="../css/Lamps.css">
</head>

<body>
    <div class="box">
        <!-- 登录注册 -->
        <div class="login">
            <div class="edition">
                <div class="text">
                    <a href="#">登录</a>
                    <span>/</span>
                    <a href="#">注册</a>
                    <span>丨</span>
                    <a href="#">我的订单</a>
                </div>
            </div>
        </div>
        <!-- 顶部搜索栏 1170 140-->
        <div class="head">
            <div class="edition">
                <div class="logo">
                    <img src="../images/logo.png" alt="">
                </div>
                <!-- 400 40 -->
                <div class="middle">
                    <span><img src="../images/图标/搜索.png" alt=""></span>
                    <input class="fl" type="text" placeholder="四件套">
                    <div class="text fl"><a href="#">搜索</a></div>
                </div>
                <!-- Shopping cart 150 40 -->
                <div class="shopping_cart_logo fr">
                    <span class="fl first"><img src="images/图标/购物车.png" alt=""></span>
                    <span class="text fl second">购物车</span>
                    <span class="fr last">0</span>
                </div>

            </div>
        </div>


        <!-- 导航栏 500 75 -->
        <div class="nav">
            <div class="edition">
                <ul>
                    <li><a href="../index.html" >首页</a></li>
                    <li><a href="./furniture.html">家具</a></li>
                    <li><a href="#">收纳</a></li>
                    <li><a href="#">装饰</a></li>
                    <li><a href="#" style="border-bottom: 2px solid #2b6e5a;">灯具</a></li>
                    <li><a href="#">家坊</a></li>
                    <li class="last"><a href="#">厨具</a></li>
                    <i></i>


                </ul>
            </div>
        </div>

        <div class="box2">

            <div class="lamps_top">
                <div class="edition">
                    <div class="fl">首页</div>
                    <div class="fl">灯具</div>
                </div>
            </div>
            <!-- list -->
            <div class="lamps_list">
                <div class="edition">
                    <div>
                        <div>分类</div>
                        <a href="#">
                            <div>全部</div>
                        </a>
                        <a href="#">
                            <div>吊灯</div>
                        </a>
                        <a href="#">
                            <div>台灯</div>
                        </a>
                        <a href="#">
                            <div>落地灯</div>
                        </a>
                        <a href="#">
                            <div>灯具组合</div>
                        </a>
                    </div>

                    <hr>
                    <div>
                        <div>风格</div>
                        <a href="#">
                            <div>全部</div>
                        </a>
                        <a href="#">
                            <div>现代</div>
                        </a>
                        <a href="#">
                            <div>新中式</div>
                        </a>
                        <a href="#">
                            <div>中式</div>
                        </a>
                        <a href="#">
                            <div>欧式</div>
                        </a>
                        <a href="#">
                            <div>工业</div>
                        </a>
                        <a href="#">
                            <div>美式</div>
                        </a>
                        <a href="#">
                            <div>日式</div>
                        </a>
                        <a href="#">
                            <div>侘寂</div>
                        </a>
                        <a href="#">
                            <div>其他</div>
                        </a>
                    </div>
                    <hr>
                    <div>
                        <div>排序</div>
                        <a href="#">
                            <div>默认</div>
                        </a>
                        <a href="#">
                            <div>价格</div>
                        </a>
                        <a href="#">
                            <div>上架时间 ↓</div>
                        </a>

                    </div>
                </div>


            </div>
<!-- 吊灯 -->
            <div class="goods_list">
                <div class="edition">
                    <div>
                        <div>吊灯</div>
                        <div>Chandelier</div>
                        <div>
                            <div><img src="../images/灯具列表页/吊灯/图像1.png" alt="">
                                <div>现代球型小吊灯</div>
                                <div>
                                    <div class="fl">￥199起</div>
                                    <div class="fl">￥259起</div>
                                </div>
                                <div class="shoppingcar">
                                    <img src="../images/图标/购物车2.png" alt="">
                                </div>
                            </div>
                            <div><img src="../images/灯具列表页/吊灯/图像2.png" alt="">
                                <div>现代云吊灯</div>
                                <div>
                                    <div class="fl">￥300起</div>
                                    <div class="fl">￥350起</div>
                                </div>
                                <div class="shoppingcar">
                                    <img src="../images/图标/购物车2.png" alt="">
                                </div>
                            </div>
                            <div><img src="../images/灯具列表页/吊灯/图像3.png" alt="">
                                <div>现代极简小吊灯</div>
                                <div>
                                    <div class="fl">￥200起</div>
                                    <div class="fl">￥350起</div>
                                </div>
                                <div class="shoppingcar">
                                    <img src="../images/图标/购物车2.png" alt="">
                                </div>
                            </div>
                            <div><img src="../images/灯具列表页/吊灯/图像4.png" alt="">
                                <div>艺术吊灯</div>
                                <div>
                                    <div class="fl">￥249起</div>
                                    <div class="fl">￥350起</div>
                                </div>
                                <div class="shoppingcar">
                                    <img src="../images/图标/购物车2.png" alt="">
                                </div>
                            </div>
                            <div><img src="../images/灯具列表页/吊灯/图像5.png" alt="">
                                <div>Leibal现代吊灯</div>
                                <div>
                                    <div class="fl">￥300起</div>
                                    <div class="fl">￥350起</div>
                                </div>
                                <div class="shoppingcar">
                                    <img src="../images/图标/购物车2.png" alt="">
                                </div>
                            </div>
                            <div><img src="../images/灯具列表页/吊灯/图像6.png" alt="">
                                <div> InCommonWith现代艺术吊灯</div>
                                <div>
                                    <div class="fl">￥600起</div>
                                    <div class="fl">￥750起</div>
                                </div>
                                <div class="shoppingcar">
                                    <img src="../images/图标/购物车2.png" alt="">
                                </div>
                            </div>
                            <div><img src="../images/灯具列表页/吊灯/图像7.png" alt="">
                                <div>Cherry花瓣吊灯</div>
                                <div>
                                    <div class="fl">￥888起</div>
                                    <div class="fl">￥960起</div>
                                </div>
                                <div class="shoppingcar">
                                    <img src="../images/图标/购物车2.png" alt="">
                                </div>
                            </div>
                            <div><img src="../images/灯具列表页/吊灯/图像8.png" alt="">
                                <div>LuminaireAuthentik现代艺术吊灯</div>
                                <div>
                                    <div class="fl">￥199起</div>
                                    <div class="fl">￥250起</div>
                                </div>
                                <div class="shoppingcar">
                                    <img src="../images/图标/购物车2.png" alt="">
                                </div>
                            </div>
                        </div>

                    </div>



                </div>
            </div>
<!-- 台灯 -->
            <div class="goods_list">
                <div class="edition">
                    <div>
                        <div>台灯</div>
                        <div>Table lamp</div>
                        <div>
                            <div><img src="../images/灯具列表页/台灯/图像9.png" alt="">
                                <div>fos belhop 蘑菇灯</div>
                                <div>
                                    <div class="fl">￥499起</div>
                                    <div class="fl">￥650起</div>
                                </div>
                                <div class="shoppingcar">
                                    <img src="../images/图标/购物车2.png" alt="">
                                </div>
                            </div>
                            <div><img src="../images/灯具列表页/台灯/图像10.png" alt="">
                                <div>现代台灯</div>
                                <div>
                                    <div class="fl">￥80起</div>
                                    <div class="fl">￥145起</div>
                                </div>
                                <div class="shoppingcar">
                                    <img src="../images/图标/购物车2.png" alt="">
                                </div>
                            </div>
                            <div><img src="../images/灯具列表页/台灯/图像11.png" alt="">
                                <div>现代宠物台灯</div>
                                <div>
                                    <div class="fl">￥300起</div>
                                    <div class="fl">￥350起</div>
                                </div>
                                <div class="shoppingcar">
                                    <img src="../images/图标/购物车2.png" alt="">
                                </div>
                            </div>
                            <div><img src="../images/灯具列表页/台灯/图像12.png" alt="">
                                <div>北欧复古台灯</div>
                                <div>
                                    <div class="fl">￥330起</div>
                                    <div class="fl">￥350起</div>
                                </div>
                                <div class="shoppingcar">
                                    <img src="../images/图标/购物车2.png" alt="">
                                </div>
                            </div>
                            <div><img src="../images/灯具列表页/台灯/图像13.png" alt="">
                                <div>玻璃台灯</div>
                                <div>
                                    <div class="fl">￥599起</div>
                                    <div class="fl">￥850起</div>
                                </div>
                                <div class="shoppingcar">
                                    <img src="../images/图标/购物车2.png" alt="">
                                </div>
                            </div>
                            <div><img src="../images/灯具列表页/台灯/图像14.png" alt="">
                                <div>几何皮革台灯</div>
                                <div>
                                    <div class="fl">￥190起</div>
                                    <div class="fl">￥350起</div>
                                </div>
                                <div class="shoppingcar">
                                    <img src="../images/图标/购物车2.png" alt="">
                                </div>
                            </div>
                            <div><img src="../images/灯具列表页/台灯/图像15.png" alt="">
                                <div> 北欧中古台灯</div>
                                <div>
                                    <div class="fl">￥520起</div>
                                    <div class="fl">￥650起</div>
                                </div>
                                <div class="shoppingcar">
                                    <img src="../images/图标/购物车2.png" alt="">
                                </div>
                            </div>
                            <div><img src="../images/灯具列表页/台灯/图像16.png" alt="">
                                <div>现代奶油风台灯</div>
                                <div>
                                    <div class="fl">￥239起</div>
                                    <div class="fl">￥960起</div>
                                </div>
                                <div class="shoppingcar">
                                    <img src="../images/图标/购物车2.png" alt="">
                                </div>
                            </div>

                        </div>

                    </div>



                </div>
            </div>
            <div class="goods_list">
                <div class="edition">
                    <div>                   
                        <div>落地灯</div>
                        <div>Floor lamp</div>
                        <div>
                            <div><img src="../images/灯具列表页/落地灯/图像17.png" alt="">
                                <div>现代落地灯</div>
                                <div>
                                    <div class="fl">￥600起</div>
                                    <div class="fl">￥999起</div>
                                </div>
                                <div class="shoppingcar">
                                    <img src="../images/图标/购物车2.png" alt="">
                                </div>
                            </div>
                            <div><img src="../images/灯具列表页/落地灯/图像18.png" alt="">
                                <div>月球灯</div>
                                <div>
                                    <div class="fl">￥300起</div>
                                    <div class="fl">￥350起</div>
                                </div>
                                <div class="shoppingcar">
                                    <img src="../images/图标/购物车2.png" alt="">
                                </div>
                            </div>
                            <div><img src="../images/灯具列表页/落地灯/图像19.png" alt="">
                                <div>Marioni 现代落地灯</div>
                                <div>
                                    <div class="fl">￥1300起</div>
                                    <div class="fl">￥1350起</div>
                                </div>
                                <div class="shoppingcar">
                                    <img src="../images/图标/购物车2.png" alt="">
                                </div>
                            </div>
                            <div><img src="../images/灯具列表页/落地灯/图像20.png" alt="">
                                <div>石材落地灯</div>
                                <div>
                                    <div class="fl">￥300起</div>
                                    <div class="fl">￥350起</div>
                                </div>
                                <div class="shoppingcar">
                                    <img src="../images/图标/购物车2.png" alt="">
                                </div>
                            </div>
                            <div><img src="../images/灯具列表页/落地灯/图像21.png" alt="">
                                <div>钓鱼灯</div>
                                <div>
                                    <div class="fl">￥268起</div>
                                    <div class="fl">￥350起</div>
                                </div>
                                <div class="shoppingcar">
                                    <img src="../images/图标/购物车2.png" alt="">
                                </div>
                            </div>
                            <div><img src="../images/灯具列表页/落地灯/图像22.png" alt="">
                                <div>现代金属落地灯</div>
                                <div>
                                    <div class="fl">￥190起</div>
                                    <div class="fl">￥235起</div>
                                </div>
                                <div class="shoppingcar">
                                    <img src="../images/图标/购物车2.png" alt="">
                                </div>
                            </div>
                            <div><img src="../images/灯具列表页/落地灯/图像23.png" alt="">
                                <div> 侘寂风落地灯</div>
                                <div>
                                    <div class="fl">￥168起</div>
                                    <div class="fl">￥215起</div>
                                </div>
                                <div class="shoppingcar">
                                    <img src="../images/图标/购物车2.png" alt="">
                                </div>
                            </div>
                            <div><img src="../images/灯具列表页/落地灯/图像24.png" alt="">
                                <div>现代极简落地</div>
                                <div>
                                    <div class="fl">￥240起</div>
                                    <div class="fl">￥265起</div>
                                </div>
                                <div class="shoppingcar">
                                    <img src="../images/图标/购物车2.png" alt="">
                                </div>
                            </div>
                        </div>

                    </div>



                </div>
            </div>


        </div>






        <!-- bottom -->
        <div class="bottom fl">
            <div class="edition">
                <div class="logo">
                    <div><img src="images/图标/绿色环保.png" alt="">
                        <div>绿色环保</div>
                    </div>
                    <div><img src="images/图标/天猫-极速退款.png" alt="">
                        <div>七天无理由退货
                        </div>
                    </div>
                    <div><img src="images/图标/配送安装(1).png" alt="">
                        <div>配送安装</div>
                    </div>
                    <div><img src="images/图标/退货保障.png" alt="">
                        <div>退换保障</div>
                    </div>
                    <div><img src="images/图标/送货上门.png" alt="">
                        <div>送货上门</div>
                    </div>
                </div>
                <hr>
                <div>
                    <div class="logo fl"><img src="images/logo.png" alt=""></div>
                    <div class="fl">
                        <div>
                            <div class="title">
                                关于柒品家居
                            </div>
                            <div>关于我们</div>
                            <div>招商加盟</div>
                        </div>

                        <div>
                            <div class="title">
                                购物保障
                            </div>
                            <div>收货指南</div>
                            <div>隐私保护</div>
                            <div>免贵声明</div>
                            <div>正品保证</div>
                        </div>
                        <div>
                            <div class="title">产品与服务</div>
                            <div>售后政策</div>
                            <div>送货安装</div>
                        </div>
                        <div>
                            <div class="title">商业合作</div>
                            <div>商家入驻</div>
                            <div>媒体合作</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- last -->
        <div class="last fl">&copy; Copyright Yueqian 2023 .All Rights Reserved.</div>
    </div>
</body>

</html>