//  body {
//      background-color: #1e003c;
//      overflow: hidden;
//      color: wheat;
//  }

//  /* 定义雪花的样式 */
//  .snowflake {
//      width: 10px;
//      height: 10px;
//      background-color: white;
//      border-radius: 50%;
//      position: absolute;
//      top: -10px;
//  }

//  /* 定义雪花落下的动画 */
//  @keyframes snowfall {
//      0% {
//          transform: translate3d(0, 0, 0);
//          opacity: 0;
//      }

//      50% {
//          opacity: 1;
//      }

//      100% {
//          transform: translate3d(0, 100vh, 0);
//          opacity: 0;
//      }
//  }

body {
    background: url("../img/bg1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: wheat;

}

.ovo-right-cont {
    font-family: 'Mxiangsu';
    text-align: center;
    float: right;
    width: 30vw;
    height: 100vh;
    background-color: rgba(0, 255, 255, 0.158);
    position: fixed;
    top: 0;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;

    a {
        padding: 10px;
        border-radius: 8px;

        &:hover {
            color: #1f2a5b;
            background-color: wheat;
            transition: all 0.8s;
        }
    }

    .ovo-via {
        margin: 60px 0 20px 0;

        img {
            width: 50%;
            height: auto;
            border-radius: 50%;
        }
    }

    .ovo-via-name {
        font-size: 50px;
    }

    // 分类
    .ovo-via-name-list {
        margin-top: 40px;
        font-size: 60px;
        text-align: left;
        margin-left: 30px;
        margin-bottom: 20px;
    }

    // 列表内容
    .ovo-via-cont-list {
        .ovo-via-list {
            font-size: 35px;

            >div {
                margin-top: 28px;
            }
        }
    }


}

.ovo-left-cont {
    width: 69vw;
    overflow: hidden;
    font-family: Mxiangsu;

    main {
        .ovo-main-page {
            .h1 {
                margin: 3vw;
                font-size: 3.8vw;
            }

            >.row {
                >a {
                    text-align: center;

                    &:hover {
                        transform: translateY(-10px);
                        transition: all 0.5s;
                    }

                    &:hover img {
                        box-shadow: 10px 10px 5px black;

                    }

                    &:hover .ovo-main-page-title {
                        // color: #25003d;
                        // background-color: wheat;
                        text-shadow: 10px 10px 5px black;
                    }

                    .ovo-main-page-title {
                        font-size: 2.8vw;
                        margin: 2vw 0;
                        display: inline-block;
                        padding: 10px;
                    }

                    img {
                        width: 80%;
                    }
                }
            }
        }
    }
}




@media (max-width: 900px) {
    .ovo-right-cont {
        .ovo-via-name {
            font-size: 5.5vw;
        }

        .ovo-via-name-list {
            font-size: 6vw;
            margin-left: 10px;
        }

        .ovo-via-list {
            a {
                font-size: 5vw;
            }

        }
    }
}