html,
body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    /* 继承父元素属性 */
    color: inherit;
    /* 去掉a标签的颜色 */
    text-decoration: none;
}

ul,
li,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
input{
    padding: 0;
    border: none;
    outline: none;
}