@font-face {
  font-family: "iconfont"; /* Project id 4751587 */
  src: url('//at.alicdn.com/t/c/font_4751587_p6181f64yo9.woff2?t=1732524151777') format('woff2'),
       url('//at.alicdn.com/t/c/font_4751587_p6181f64yo9.woff?t=1732524151777') format('woff'),
       url('//at.alicdn.com/t/c/font_4751587_p6181f64yo9.ttf?t=1732524151777') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qiezi:before {
  content: "\e68e";
}

.icon-bofang1:before {
  content: "\e618";
}

.icon-shangyishou:before {
  content: "\e63c";
}

.icon-xiayishou:before {
  content: "\e63e";
}

.icon-suijibofang:before {
  content: "\e6a0";
}

.icon-xunhuanbofang:before {
  content: "\e662";
}

.icon-shunxubofang:before {
  content: "\e713";
}

.icon-liebiao:before {
  content: "\e602";
}

.icon-zanting:before {
  content: "\e685";
}

.icon-search:before {
  content: "\e623";
}

.icon-wangyiyunyinle:before {
  content: "\e600";
}

.icon-bofang:before {
  content: "\e624";
}
